<h2>База пользователей</h2>
<p>Персональные данные пользователей</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>username</th>
            <th>phone</th>
            <th>datestamp</th>
            <th>master</th>
            <th>color</th>
        </tr>
    </thead>
    <tbody>
        <% @results.each do |row| %>
            <tr>
                <th scope="row"><%= row['id'].to_s %></th>
                <td><%= row['username'].to_s %></td>
                <td><%= row['phone'].to_s %></td>
                <td><%= row['datestamp'].to_s %></td>
                <td><%= row['master'].to_s %></td>
                <td><%= row['color'].to_s %></td>
            </tr>
        <% end %>
    </tbody>
</table>